{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block content %}
<div class="item">
  <div class="banner-tight">
    <h1>Start</h1>
  </div>
  <div class="container">
    <div class="compare">
      <div class="card">
        <div class="header header-dark">
          <h2 class="title">{{item.name}}</h2>
          <p class="note">First project</p>
        </div>
        <div>
          {% with item=item %}
          {% include "_item.html" %}
          {% endwith %}
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="item">
    <div class="banner" id="vote-header">
      <h1>Actions</h1>
    </div>

    <div class="info">
      <form action="{{ url_for('begin') }}" method="post">
        <p class="center">Comparison voting begins after you see your first project. Please click <b>CONTINUE</b> after
          seeing this project or <b>SKIP</b> if you cannot open this project.</p>

        <input id="action-continue" type="submit" name="action" value="Continue" class="button-full button-gap positive">
        <input id="action-skip" type="submit" name="action" value="Skip" class="button-full button-gap negative">


        <input type="hidden" name="item_id" value="{{ item.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>

    </div>
  </div>
</div>
{% endblock %}