{% extends "layout.html" %} {% block title %}Welcome{% endblock %} {% block
content %}

<div class="banner">
  <h1>Welcome</h1>
</div>
<div class="info">
  <div class="info__header">
    <h1>Hey {{annotator_name}},</h1>
  </div>

  <div class="info__guidance">
    <div class="info__guidance--heading">
      <h3>How to use Gavel</h3>
    </div>

    <div class="info__guidance--steps">
      <div>
        <h4>First step</h4>
        <p>
          You will see one project only to review, when you are done the
          comparison starts
        </p>
      </div>
      <div>
        <h4>Compare projects</h4>
        <p>
          You will be comparing two projects at a time, from which you have to
          select one as better than the other
        </p>
      </div>
      <div>
        <h4>Skipping projects</h4>
        <p>
          If a project seems inappropriate, violates event rules or it is not
          working properly, you can choose the option to skip it
        </p>
      </div>
    </div>

    <img src="{{ url_for('static', filename='images/gavel-explained.gif') }}"/>

    <div class="info__guidance--footer">
      <p>
        There are <strong>{{active_items_count}}</strong> projects available for review .If you have problems reviewing the projects, please contact the event
        organizer
      </p>
    </div>
  </div>
</div>

<div class="item">
  <div class="info">
    <form action="{{ url_for('welcome_done') }}" method="post">
      <input
        id="start-reviewing"
        type="submit"
        name="submit"
        value="Start reviewing"
        class="button-full button-gap positive"
      />
      <input type="hidden" name="action" value="Continue" />
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
    </form>
  </div>
</div>
{% endblock %}
